/* /////////////////////////////////// */
/* HEADER  */
/* /////////////////////////////////// */

#test2 {
	margin-right: 10px;
	color: red !important;
}


.icons {
	background-color: white;
}

.test {
	color: red !important;
}

#header_icon_basket {
	margin-right: 20px;
	color: red;
	margin-left: 40px;
}


.btn-toggle {
	display: inline-flex;
	align-items: center;
	padding: 0.25rem 0.5rem;
	font-weight: 600;
	color: rgba(0, 0, 0, .65);
	background-color: transparent;
	border: 0;
}

.btn_dropdown_category {
		text-transform:capitalize;
}

#header_titre_site {
		margin-left: 10px !important;
	
}

#header_produits {
	padding-top: 20px !important;
		padding-left: 200%;
}

.header_list_user {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom:0 !important;
}

.header_list_user 
li {
	  list-style-type: none; 	
}
a {
	text-decoration:none;
	color: white;
} 
a:hover {
	color: black;
}

.tb_right_pull-righ {
	padding-top: 20px !important;
	padding-top: 5px;
}

#header_form_search {
	position: relative;
	margin-left:40px;
}

#header_icon_loop {
	position: absolute;
	right: 0;
	top: 7px;
}

/* /////////////////////////////////// */
/* END OF HEADER  */
/* /////////////////////////////////// */